# OS metadata
.DS_Store
Thumbs.db

# IDE & Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local secrets & credentials
*config.local.js
.env*

